/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 7, 2016, 11:30:30 PM
    Author     : marcrubin
*/

body {  
  color: #040D63;
}

a {
  color: #040D63;
}

main { 
  color: #040D63;
  margin-top: 85px;
  margin-bottom: 125px;
}

section {
  width: 720px;
  margin: auto; 
  float: left;
  margin-bottom: 125px;
}

aside {
  width: 275px;
  float: left;
}

figure {
  margin: 12px;
  padding: 0;
}

.imgTraining {
     width: 450px;
     height: 250px;
}

.imgMikeRoyer {
     width: 250px;
     height: 400px;
}

.hover:hover {
  text-decoration: underline;
}





